In [ ]:
#importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#loading data 
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#data cleanup

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

# apply()- Calculate Project Salary Last Year

In [9]:
 df[pd.notna(df['salary_year_avg'])]['salary_year_avg']

28        109500.0
77        140000.0
92        120000.0
100       228222.0
109        89000.0
            ...
785624    139216.0
785641    150000.0
785648    221875.0
785682    157500.0
785692    157500.0
Name: salary_year_avg, Length: 22003, dtype: float64

In [22]:
df_salary = df[pd.notna(df['salary_year_avg'])]

def projected_salary (salary):
    return salary*1.03

df['salary_year_inflated']= df_salary['salary_year_avg'].apply(projected_salary)

df_salary[['salary_year_avg', 'salary_year_inflated' ]]

        salary_year_avg  salary_year_inflated
28             109500.0             112785.00
77             140000.0             144200.00
92             120000.0             123600.00
100            228222.0             235068.66
109             89000.0              91670.00
...                 ...                   ...
785624         139216.0             143392.48
785641         150000.0             154500.00
785648         221875.0             228531.25
785682         157500.0             162225.00
785692         157500.0             162225.00

[22003 rows x 2 columns]

In [24]:
df_salary['salary_year_inflated']= df_salary['salary_year_avg'].apply(lambda salary: salary *1.03)
df_salary[['salary_year_avg', 'salary_year_inflated' ]]

C:\Users\Joy\AppData\Local\Temp\ipykernel_15228\3335678626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary['salary_year_inflated']= df_salary['salary_year_avg'].apply(lambda salary: salary *1.03)

        salary_year_avg  salary_year_inflated
28             109500.0             112785.00
77             140000.0             144200.00
92             120000.0             123600.00
100            228222.0             235068.66
109             89000.0              91670.00
...                 ...                   ...
785624         139216.0             143392.48
785641         150000.0             154500.00
785648         221875.0             228531.25
785682         157500.0             162225.00
785692         157500.0             162225.00

[22003 rows x 2 columns]

In [28]:
df['job_skills'][1]

"['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']"

In [30]:
import ast

ast.literal_eval(df['job_skills'][1])

['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']

In [32]:
def clean_list(skill_list):
    if pd.notna(skill_list):
       return ast.literal_eval(skill_list)

df['job_skills'] = df['job_skills'].apply(clean_list)

In [33]:
 df['job_skills'][1]

['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']

In [40]:
df['job_skills'] = df['job_skills'].apply(lambda skill_list: ast.literal_eval(skill_list)  
                                          if pd.notna(skill_list) else skill_list)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

# Calculate projected salary Next year 
 Senior roles 5 %
 
 Other roles 3 %

In [41]:
df_salary['salary_year_inflated']= df_salary['salary_year_avg'].apply(lambda salary: salary *1.03)

C:\Users\Joy\AppData\Local\Temp\ipykernel_15228\506362658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary['salary_year_inflated']= df_salary['salary_year_avg'].apply(lambda salary: salary *1.03)

In [43]:
def projected_salary (row):
    if 'Senior' in row['job_title_short']:
        return 1.05 * row ['salary_year_avg']
    else:
        return 1.03 * row ['salary_year_avg']
        

df_salary['salary_year_inflated']= df_salary.apply(projected_salary,axis = 1)

df_salary [['job_title_short', 'salary_year_avg', 'salary_year_inflated']]

C:\Users\Joy\AppData\Local\Temp\ipykernel_15228\362600893.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary['salary_year_inflated']= df_salary.apply(projected_salary,axis = 1)

       job_title_short  salary_year_avg  salary_year_inflated
28      Data Scientist         109500.0             112785.00
77       Data Engineer         140000.0             144200.00
92       Data Engineer         120000.0             123600.00
100     Data Scientist         228222.0             235068.66
109       Data Analyst          89000.0              91670.00
...                ...              ...                   ...
785624   Data Engineer         139216.0             143392.48
785641   Data Engineer         150000.0             154500.00
785648  Data Scientist         221875.0             228531.25
785682  Data Scientist         157500.0             162225.00
785692  Data Scientist         157500.0             162225.00

[22003 rows x 3 columns]